<% include partials/header %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="/">Home</a>
							<span>Movie Review</span>
						</div>

						
					
						<div class="movie-list">
							
						
						
							<h2 class="errorMessage">There is no such movie in the database, please search again!!</h2>
							
							
							
						</div> <!-- .movie-list -->

						
					</div>
				</div> <!-- .container -->
			</main>
		
	
				
	
	
		
<% include partials/footer %>

