<% include partials/header %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="/">Home</a>
							<span>Download Section</span>
						</div>
                        
                        <div class = "downloadBar">
                        <form action="/download" method="GET">
							<input type="text" placeholder="Search Torrent..." name="download">
							<button type="submit"><i class="fa fa-search"></i></button>
							
							</form>
                        </div>
						
                      <h2 class="errorMessage">There is no such movie in the database, please search again!!</h2>
						
						
					</div>
				</div> <!-- .container -->
			</main>
		
	
				
	
	
		
<% include partials/footer %>

